<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="2" android:versionName="2.0.0" package="com.jaime.ExpenseTracker">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="Expense Tracker" android:theme="@style/MyTheme" android:icon="@drawable/icon"></application>
</manifest>