<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.jaime.ExpenseTracker" android:versionCode="2" android:versionName="2.0.0">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="27" />
	<application android:label="Expense Tracker" android:icon="@drawable/icon" android:theme="@style/MyTheme"></application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>