<?xml version="1.0" encoding="utf-8" ?>

<config>

  <firebase-api-key>aa</firebase-api-key>


  <!-- Hyper-v : http://169.254.80.80  /  Genymotion 10.0.3.2   /  AVD 10.0.2.2 -->  
  <expensetracker-api-url>http://169.254.80.80/ExpenseTrackerApi/api/</expensetracker-api-url>

  
  <expensetracker-crypto-password>aa</expensetracker-crypto-password>

  
</config>