@model System.Collections.Generic.IEnumerable<ExpenseTrackerDomain.Models.PaymentType>

@{
    ViewBag.Title = "Payment Types";
}
  
<h2>Your Payment Types</h2>

<table class="table table-striped">

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "PaymentType", new { id = item.Id }, new object { }) |
                    @Html.ActionLink("Delete", "Delete", "PaymentType", new { id = item.Id }, new object { })
                </td>
            </tr>
        }
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
