
<div class="col-md-6">
    <ul class="list-group">
        @foreach (var exp in Model)
        {
            <li class="list-group-item">@exp.Description - @exp.Value</li>
        }
    </ul>
</div>  