@model ExpenseTrackerDomain.Models.Category

@{
    ViewBag.Title = "Delete Category";
}

@using (Html.BeginForm("Delete", "Category"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">

        <dl>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

        </dl>

    </div>

    <div class="form-group">
        <input type="submit" name="btnDeleteCategory" value="Delete" class="btn btn-primary" />
    </div>
}

