@{
    ViewBag.Title = "Login";
}

@if ((Session["LoggedIn"] != null) && (bool)Session["LoggedIn"])
{
    <p>Hello!</p>
}
else
{

    using (Html.BeginForm("Login", "Login"))
    {

        <center>
            <h4>Expense Tracker - Login</h4>

            <hr />

            <div class="form-group">
                UserName
                @Html.TextBox("username", "", new { @class = "form-control" })
            </div>

            <div class="form-group">
                Password
                @Html.Password("password", "", new { @class = "form-control" })
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-lg btn-default btn-block" />
            </div>

            <br />
            @if (TempData["MessageText"] != null)
            {
                <p>@TempData["MessageText"]</p>
            }

        </center>
    }

}
